body{
    background-color: #f3f4f5;
}

.container{
    font-family: Arial;
    color: black;
    font-size: 24px;
    text-align: center;
}

img{
    padding: 10px;
    border-radius: 25%;
    border-style: groove;
    box-shadow: gray 10px;
}


.principal{
    text-align: justify;
    margin: 20px;
}

.principal p{
    margin: 20px;
    text-align: justify;
    color: #757575;
    font-family: Georgia;
    font-size: 18px;
}

.principal article{
    border: 2px dotted darkgray;
    margin: 10px 50px;
    padding: 20px;
    text-align: center;
    color: #757575;
    font-family: Georgia;
    font-size: 18px;
    box-shadow: gray inset;
}

footer{
    background-color: rgb(126, 126, 126);
    color: white;
    height: 40px; 
    text-align: center;
    padding: 20px;
    font-size: 22px;  
    
}

.piePagina p{
   
    font-family: Georgia;
    font-size: 18px;
    margin: auto auto;
}