/* Pagina con color de fondo definido en vez de imagen de fondo*/
body{
    background-color: #f3f4f5;
}

.container{
    font-family: Arial;
    color: black;
    font-size: 24px;
    text-align: center;
}
/*  Imagen del header con borde punteado y redondeada*/
img{
    padding: 2px;
    border-radius: 25%;
    border-style: dotted;
    border-color: rgb(163, 163, 163);
    box-shadow: gray 10px inset;
}


.principal{
    text-align: justify;
    margin: 20px;
}

.principal p{
    margin: 20px;
    text-align: justify;
    color: #757575;
    font-family: Georgia;
    font-size: 18px;
}

/* Articulo centrado y con borde punteado centrado al medio de la pagina*/
.principal article{
    border: 2px dotted darkgray;
    margin: 10px 50px;
    padding: 20px;
    text-align: center;
    color: #757575;
    font-family: Georgia;
    font-size: 18px;
    box-shadow: gray inset;
}

footer{
    background-color: rgb(126, 126, 126);
    color: white;
    height: 40px; 
    text-align: center;
    padding: 20px;
    font-size: 22px;  
    
}

.piePagina p{
   
    font-family: Georgia;
    font-size: 18px;
    margin: auto auto;
}